:root{
    --white: white;
    --blue: rgb(15, 80, 105);
    --dorado: rgb(185, 164, 41);
}

#header{
    position: relative;
    width: 100%;
}

.cabeza{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: var(--blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.cabeza .icono-cabeza{
    margin left: 20px;
}

.cabeza .icono-cabeza h1 a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color: var(--white);
}

.cabeza .list-container{
    margin-right: 20px;
}

.cabeza .list-container .lists{
    display: flex;
}

.cabeza .list-container .lists li{
    list-style: none;
}

.cabeza .list-container .lists li a{
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: var(--white);
    border-radius: 24px;
    font-size: 16px;
    transition: 0.3s;
}

.cabeza .list-container .lists li a.activo{
    background: var(--dorado);
    color: var(--white);
}

.cabeza .list-container .lists li a:hover{
    background: var(--dorado);
    color: var(--white);
}

.span-menu > .fa-bars{
    display: none;
}